.game {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  width: 300px;
}

.game:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.data {
  margin: 5px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.data p {
  align-self: flex-end;
  flex-grow: 1;
}

.discountedPrice {

}

.regularPrice {
  color: red;
  text-decoration: line-through;
}